<!-- Locking dashboard unless the user is logged in.
 If the user is not logged in, the "please log in" message will show. -->
 <div>
  <div *ngIf="loggedUser">
    <div class="fcontainer border border-info">
      <app-users-list [users]="userList"></app-users-list>
      <app-edit-users (addUserE)="addUser($event)" (deleteUserE)="deleteUser($event)"></app-edit-users>
    </div>
  </div>

  <div *ngIf="!loggedUser" class="screen">
    <p class="font-weight-light">In order to see this content, you must log in.</p>
  </div>
</div>